body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

#canvas {
  background: white;
  display: block;
  margin: 0 auto;
}

#count {
  background: #eeeeee;
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
  width: 10%;
  font-size: large;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 20%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #41d9f4;
  color: white;
  text-align: center;
  height: 50%;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #f4bc42;
  color: white;
  text-align: center;
  height: 50%;
}

.maze-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.maze-options {
  margin: 16px auto;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300);

#keys {
  font-family: 'Lato', sans-serif;
  text-align: center;
  width: 500px;
  height: 200px;
  margin: 16px auto;
}

.arr {
  cursor: pointer;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  background: grey;
  color: white;
  font-size: 45px;
  border-right: 10px solid darken(grey, 20);
  border-bottom: 10px solid darken(grey, 20);
  border-left: 10px solid darken(grey, 15);
  border-top: 10px solid darken(grey, 10);
  display: inline-block;
  margin: 5px;
  transition: all .05s linear;
  user-select: none;
}
.arr:active {
  border-bottom: 8px solid darken(grey, 20);
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 20px white;
    transform: translate(0, 2px);
}

.up {
  position: relative;
  top: -4px;
}

.pressed {
  border-bottom: 8px solid darken(grey, 20);
  text-shadow: 0 0 10px white;
  transform: translate(0, 2px);
}

.names {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
}

.b {
  color: blue;
  text-shadow: 0 0 10px blue, 0 0 10px blue, 0 0 10px blue, 0 0 10px blue;
  font-size: 100px;
  font-family: serif;
}

.a {
  color: yellow;
  text-shadow: 0 0 10px yellow, 0 0 10px yellow, 0 0 10px yellow, 0 0 10px yellow;
  font-size: 100px;
  font-family: serif;
}